@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import 'elements.css';
@import 'grid-home.css';
@import 'forms.css';
@import 'navigation.css';

.box{
    /* border: 1px solid cadetblue; */

}

.header{
    grid-area: head;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 5.5vw;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-variant-caps: small-caps;

}

.hero-img{
    width: 100%;
    object-fit: cover;

}

.button{
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    margin-top: 5%;
    margin-bottom: 5%;

}

.button2{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    margin-top: 2%;
    margin-bottom: 2%;

}

.feature-card{
    width: 240px;
    max-height: auto;
    min-height: 49%;
}

.feature-img{
    width: fit-content;
    height: fit-content;

}

.divider{
    grid-area: divider;
    font-variant-caps: small-caps;

}

.content-img{
    grid-area: img;

}

.content-words{
    grid-area: words;
    display: flex;
    flex-direction: column;
}

.content-details{
    font-size: 0.8rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
}

.footer{
    grid-area: foot;
    font-variant-caps: small-caps;

}