@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'elements.css';

.container {
    margin: 0 auto;
    max-width: 1080px;
    width: 80vw;
    height: 98vh;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto auto auto auto 1fr auto 6em;
    grid-template-areas:
    "head"
    "title"
    "info"
    "divider"
    "cont"
    "form"
    "foot";
}

.header{
    grid-area: head;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 5.5vw;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-variant-caps: small-caps;

}

