@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import 'elements.css';
@import 'grid-post.css';
@import 'forms.css';
@import 'navigation.css';

.header{
    position: relative;
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vw;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-variant-caps: small-caps;
}

.title{
    position: relative;

}

.title .hero{
    position: relative;
}

.title .caption{
    text-align: center;
    font-size: 0.7em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

}

.title .heading{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 5.4vw;
    font-weight: 500;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    padding: 20px;
    background: rgb(250,235,215,0.2);
    padding: 1%;
    line-height: 105%;

}

.content p{
    margin-bottom: 2%;
    text-indent: 5%;
    line-height: 150%;
    
}

.info{
    grid-area: info;
    margin: 40px;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.author .avatar{
    align-self: center;
    width: 50%;
    max-width: 200px;
    margin: 5px;
}

.author .avatar img{
    border-radius: 100%;
}

.author .name p{
    font-weight: bold;
    margin-bottom: 2%;
    text-indent: 0%;

}

.author .organization p{
    font-weight: 400;
    margin-bottom: 1%;

}

.author .bio p{
    font-weight: 200;
    font-size: 0.9rem;
    text-indent: 0%;
    font-style: oblique;

}

.footer{
    grid-area: foot;
    font-variant-caps: small-caps;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0.4;

}

.social img{
    max-height: 60px;
    max-width: 60px;

}